* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
  scroll-behavior: smooth;
}
:root {
  --maincolor: #f43f5e;
}
.btn-rose {
  background-color: var(--maincolor);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
.btn-rose:hover {
  background-color: #db3b55;
}
/* about all card */
.bg-light {
  position: sticky;
  top: 70px; /* ระยะห่างจาก Navbar */
  height: calc(100vh - 70px); /* ปรับให้เต็มความสูงหน้าจอ */
  overflow-y: auto; /* ถ้า Sidebar มีเนื้อหาเยอะให้ Scroll ได้ */
}

.card-width {
  width: 45rem;
}
.main-content-width {
  width: 80%;
}
.card {
  border: none;
}
